AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=
AUTH_URL=http://localhost:3000
NEXT_APP_API_DOMAIN=https://dummyjson.com
NEXT_PUBLIC_SITE_URL=http://localhost:3000